* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  padding: clamp(20px, 5vw, 80px);
  background-color: #24273a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: black;
}

main {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.start {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 40px;
  border-radius: 12px;
}

#start__input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #44475a;
  background-color: #1e2030;
  color: white;
  outline: none;
}

#start__btn {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #8bd5ca;
  color: #24273a;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

#start__btn:hover {
  background-color: #b8e0d7;
}

.qrcode {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2030;
  padding: 40px;
  border-radius: 12px;
}

#qrcode__code {
  width: 80%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 8px;
  display: grid;
  grid: repeat(21, 1fr) / repeat(21, 1fr);
  color: #000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.bit {
  background-color: red;
}

@media (width < 800px) {
  main {
    height: 100%;
    flex-direction: column;
  }

  .start,
  .qrcode {
    width: 100%;
    padding: 30px;
  }

  .qrcode {
    flex: 2;
  }
}
